<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="title">Recipe App</ui:define>
	<ui:define name="content">
		<!-- Default view for uncoded parts -->
		<br></br>
		<h3>COMING SOON! :)</h3>
	</ui:define>
</ui:composition>
<h:head>
	<title>Recipe App</title>
</h:head>
</html>
