<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="title">Recipe Information!</ui:define>
	<ui:define name="content">
		<div align="center">
			<!-- Display recipe information and a button to go back to the recipe list -->
			<h3>Recipe Information:</h3>
			<br></br> Name: #{recipe.name}<br></br> Price: #{recipe.price}<br></br>
			Nutritional Information: #{recipe.nutritionalInformation}<br></br>
			Ingredients: #{recipe.ingredients}<br></br> Description:
			#{recipe.description}<br></br>
			<h:form>
				<h:button value="Go Back" outcome="myRecipes.xhtml" />
				<h:button value="Edit" outcome="#{recipeController.onEdit(recipe)}" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>

</html>