<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="title">Recipe App</ui:define>
	<ui:define name="content">
		<!--  Add Recipe Form -->
		<div align="center">
			<h:form>
				<!-- Initialize Table to display the input forms -->
				<table>
					<tr>
						<td>Name:</td>
						<td><h:inputText id="name" value="#{recipeEdit.name}"
								title="" />
							<h:message for="name" /></td>
					</tr>
					<tr>
						<td>Price:</td>
						<td><h:inputText id="price" value="#{recipeEdit.price}"
								title="" />
							<h:message for="price" /></td>
					</tr>
					<tr>
						<td>Nutritional Information:</td>
						<td><h:inputText id="nutritionalInformation"
								value="#{recipeEdit.nutritionalInformation}" title="" />
							<h:message for="nutritionalInformation" /></td>
					</tr>
					<tr>
						<td>Ingredients:</td>
						<td><h:inputTextarea id="ingredients"
								value="#{recipeEdit.ingredients}" title="" />
							<h:message for="ingredients" /></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><h:inputTextarea id="description"
								value="#{recipeEdit.description}" title="" />
							<h:message for="description" /></td>
					</tr>
				</table>
				<!-- Buttons and call the recipeController -->
				<h:commandButton value="Edit Recipe"
					action="#{recipeController.onUpdate(recipeEdit)}" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>
<h:head>
	<title>Recipe App</title>
</h:head>
</html>
