<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- value="#{recipeController.recipeService.recipes}" var = "o" -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="title">Recipe Application</ui:define>
	<ui:define name="content">
		<div align="center">
			<h:dataTable value="#{recipeController.recipeService.recipes}"
				var="o" styleClass="order-table" headerClass="order-table-header"
				rowClass="order-table-odd-row, order-table-even-row">
				<h:column>
					<f:facet name="header">Recipe Name</f:facet>
				#{o.name}
			</h:column>
				<h:column>
					<f:facet name="header">Price</f:facet>
				#{o.price}
			</h:column>
				<h:column>
					<f:facet name="header">Nutritional Information</f:facet>
				#{o.nutritionalInformation}
			</h:column>
				<h:column>
					<h:form>
						<h:commandButton value="View More"
							action="#{recipeController.onDisplayRecipe(o)}" />
						<h:commandButton value="Delete"
							action="#{recipeController.onDelete(o)}" />
					</h:form>
				</h:column>
			</h:dataTable>
			<h:button value="Add More" outcome="addRecipeForm.xhtml" />
		</div>
	</ui:define>
</ui:composition>

</html>