<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="title">Welcome to the recipe application!</ui:define>
	<ui:define name="content">
		<div align="center">
			<!-- Display firstname and lastname with a welcome message, also a button to go to homepage -->
			<h3>Welcome Back</h3>
			#{user.firstName} #{user.lastName}
			<h3>:)</h3>
			<h:form>
				<h:button value="Go Home" outcome="home.xhtml" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>